# Data Preprocess

## Import datasets

In [121]:
import pandas as pd

In [122]:
food = pd.read_csv (r'C:\Users\gghan\OneDrive\Desktop\FoodData\food.csv', encoding = 'unicode_escape')
calorie_factor = pd.read_csv (r'C:\Users\gghan\OneDrive\Desktop\FoodData\food_calorie_conversion_factor.csv')
food_component = pd.read_csv (r'C:\Users\gghan\OneDrive\Desktop\FoodData\food_component.csv')
food_nutrient = pd.read_csv (r'C:\Users\gghan\OneDrive\Desktop\FoodData\food_nutrient.csv')
nutrient_factor = pd.read_csv (r'C:\Users\gghan\OneDrive\Desktop\FoodData\food_nutrient_conversion_factor.csv')
nutrient = pd.read_csv (r'C:\Users\gghan\OneDrive\Desktop\FoodData\nutrient.csv')

C:\Users\gghan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Imported Data Display

### Head() for food.csv

In [123]:
food.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,167512,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",NaN,2019/4/1 0:00:00
1,167513,sr_legacy_food,"Pillsbury, Cinnamon Rolls with Icing, refriger...",NaN,2019/4/1 0:00:00
2,167514,sr_legacy_food,"Kraft Foods, Shake N Bake Original Recipe, Coa...",NaN,2019/4/1 0:00:00
3,167515,sr_legacy_food,"George Weston Bakeries, Thomas English Muffins",NaN,2019/4/1 0:00:00
4,167516,sr_legacy_food,"Waffles, buttermilk, frozen, ready-to-heat",NaN,2019/4/1 0:00:00

### Head() for food_calorie_conversion_factor.csv

In [124]:
calorie_factor.head()

,food_nutrient_conversion_factor_id,protein_value,fat_value,carbohydrate_value
0,11672,4.0,9.0,4.0
1,11673,4.0,9.0,4.0
2,11674,2.7,8.8,4.0
3,11675,2.7,8.7,3.9
4,11676,3.5,8.6,4.1

### Head() for food_component.csv

In [125]:
food_component.head()

,id,fdc_id,name,pct_weight,is_refuse,gram_weight,data_points,min_year_acquired
0,56885,320354,Bone and connective tissue,0.1,Y,1.3,2,NaN
1,56886,320354,External fat,1.0,Y,9.6,2,NaN
2,56887,320354,Handling loss,0.2,N,2.0,2,NaN
3,56888,320354,Seam fat,0.0,Y,0.0,2,NaN
4,56889,320354,Separable Lean,98.7,N,994.0,2,NaN

### Head() for food_nutrient.csv

In [126]:
food_nutrient.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,1283674,167512,1003,5.88,1.0,46.0,NaN,NaN,NaN,NaN,NaN
1,1283675,167512,1007,3.50,1.0,46.0,NaN,NaN,NaN,NaN,NaN
2,1283676,167512,1062,1286.00,0.0,49.0,NaN,NaN,NaN,NaN,NaN
3,1283677,167512,1079,1.20,1.0,46.0,NaN,NaN,NaN,NaN,NaN
4,1283678,167512,1089,2.12,1.0,46.0,NaN,NaN,NaN,NaN,NaN

### Head() for food_nutrient_conversion_factor

In [127]:
nutrient_factor.head()

      id  fdc_id
0  11672  167518
1  11673  167532
2  11674  167537
3  11675  167538
4  11676  167539

### Head() for nutrient.csv

In [128]:
nutrient.head()

     id                         name unit_name  nutrient_nbr    rank
0  1001                       Solids         G         201.0   200.0
1  1002                     Nitrogen         G         202.0   500.0
2  1003                      Protein         G         203.0   600.0
3  1004            Total lipid (fat)         G         204.0   800.0
4  1005  Carbohydrate, by difference         G         205.0  1110.0

## Data Combination

### food nutrient data

#### Merge food.csv and food_nutrient.csv

In [129]:
# Use fdc_id as common column
food_nutrient_processed = pd.merge(food_nutrient, food, on="fdc_id")
# Display head() of combined data
food_nutrient_processed.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,data_type,description,food_category_id,publication_date
0,1283674,167512,1003,5.88,1.0,46.0,NaN,NaN,NaN,NaN,NaN,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",NaN,2019/4/1 0:00:00
1,1283675,167512,1007,3.50,1.0,46.0,NaN,NaN,NaN,NaN,NaN,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",NaN,2019/4/1 0:00:00
2,1283676,167512,1062,1286.00,0.0,49.0,NaN,NaN,NaN,NaN,NaN,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",NaN,2019/4/1 0:00:00
3,1283677,167512,1079,1.20,1.0,46.0,NaN,NaN,NaN,NaN,NaN,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",NaN,2019/4/1 0:00:00
4,1283678,167512,1089,2.12,1.0,46.0,NaN,NaN,NaN,NaN,NaN,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",NaN,2019/4/1 0:00:00

#### Organize Columns orders and Exclude Unused Columns

In [130]:
# data_points, min, max, median, footnote, min_year_acquired, publication_date were excluded

columnsTitles = ['id', 'fdc_id', 'nutrient_id', 'description', 'amount', 'derivation_id', 'data_type', 'food_category_id']

food_nutrient_processed = food_nutrient_processed.reindex(columns=columnsTitles)

food_nutrient_processed.head()

,id,fdc_id,nutrient_id,description,amount,derivation_id,data_type,food_category_id
0,1283674,167512,1003,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",5.88,46.0,sr_legacy_food,NaN
1,1283675,167512,1007,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",3.50,46.0,sr_legacy_food,NaN
2,1283676,167512,1062,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",1286.00,49.0,sr_legacy_food,NaN
3,1283677,167512,1079,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",1.20,46.0,sr_legacy_food,NaN
4,1283678,167512,1089,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",2.12,46.0,sr_legacy_food,NaN

#### Add nutrient names using nutrient.csv

In [131]:
# Replace id column with common name nutrient_id
nutrient = nutrient.rename(columns = {'id': 'nutrient_id'})
nutrient.head()

   nutrient_id                         name unit_name  nutrient_nbr    rank
0         1001                       Solids         G         201.0   200.0
1         1002                     Nitrogen         G         202.0   500.0
2         1003                      Protein         G         203.0   600.0
3         1004            Total lipid (fat)         G         204.0   800.0
4         1005  Carbohydrate, by difference         G         205.0  1110.0

In [132]:
# Use nutrient_id as common column
food_nutrient_processed = pd.merge(food_nutrient_processed, nutrient, on="nutrient_id")
# Display head() of combined data
food_nutrient_processed.head()

,id,fdc_id,nutrient_id,description,amount,derivation_id,data_type,food_category_id,name,unit_name,nutrient_nbr,rank
0,1283674,167512,1003,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",5.88,46.0,sr_legacy_food,NaN,Protein,G,203.0,600.0
1,1283688,167513,1003,"Pillsbury, Cinnamon Rolls with Icing, refriger...",4.34,47.0,sr_legacy_food,NaN,Protein,G,203.0,600.0
2,1283712,167514,1003,"Kraft Foods, Shake N Bake Original Recipe, Coa...",6.10,1.0,sr_legacy_food,NaN,Protein,G,203.0,600.0
3,1283725,167515,1003,"George Weston Bakeries, Thomas English Muffins",8.00,47.0,sr_legacy_food,NaN,Protein,G,203.0,600.0
4,1283760,167516,1003,"Waffles, buttermilk, frozen, ready-to-heat",6.58,1.0,sr_legacy_food,NaN,Protein,G,203.0,600.0

#### Export to csv File

In [133]:
food_nutrient_processed.to_csv('food_nutrient_processed.csv')

### Food Protein, Fat and Carbohydrate Data

#### Merge food_calorie_conversion_factor.csv and food_nutrient_conversion_factor.csv

In [134]:
nutrient_factor = nutrient_factor.rename(columns = {'id':'food_nutrient_conversion_factor_id'})
food_factor = pd.merge(calorie_factor, nutrient_factor, on="food_nutrient_conversion_factor_id")
food_factor.head()

,food_nutrient_conversion_factor_id,protein_value,fat_value,carbohydrate_value,fdc_id
0,11672,4.0,9.0,4.0,167518
1,11673,4.0,9.0,4.0,167532
2,11674,2.7,8.8,4.0,167537
3,11675,2.7,8.7,3.9,167538
4,11676,3.5,8.6,4.1,167539

#### Merge food_factor and food.csv

In [135]:
food_protein = pd.merge(food, food_factor, on="fdc_id")
food_protein.head()

,fdc_id,data_type,description,food_category_id,publication_date,food_nutrient_conversion_factor_id,protein_value,fat_value,carbohydrate_value
0,167518,sr_legacy_food,"Waffle, buttermilk, frozen, ready-to-heat, mic...",NaN,2019/4/1 0:00:00,11672,4.0,9.0,4.0
1,167532,sr_legacy_food,"Bread, white wheat",NaN,2019/4/1 0:00:00,11673,4.0,9.0,4.0
2,167537,sr_legacy_food,"Snacks, corn-based, extruded, chips, plain",NaN,2019/4/1 0:00:00,11674,2.7,8.8,4.0
3,167538,sr_legacy_food,"Snacks, corn-based, extruded, chips, barbecue-...",NaN,2019/4/1 0:00:00,11675,2.7,8.7,3.9
4,167539,sr_legacy_food,"Snacks, corn-based, extruded, cones, plain",NaN,2019/4/1 0:00:00,11676,3.5,8.6,4.1

In [136]:
# publication_date, food_nutrient_conversion_factor_id

columnsTitles = ['fdc_id', 'data_type', 'description', 'food_category_id', 'protein_value', 'fat_value', 'carbohydrate_value']
food_protein = food_protein.reindex(columns=columnsTitles)
food_protein.head()

,fdc_id,data_type,description,food_category_id,protein_value,fat_value,carbohydrate_value
0,167518,sr_legacy_food,"Waffle, buttermilk, frozen, ready-to-heat, mic...",NaN,4.0,9.0,4.0
1,167532,sr_legacy_food,"Bread, white wheat",NaN,4.0,9.0,4.0
2,167537,sr_legacy_food,"Snacks, corn-based, extruded, chips, plain",NaN,2.7,8.8,4.0
3,167538,sr_legacy_food,"Snacks, corn-based, extruded, chips, barbecue-...",NaN,2.7,8.7,3.9
4,167539,sr_legacy_food,"Snacks, corn-based, extruded, cones, plain",NaN,3.5,8.6,4.1

#### Export to csv File

In [137]:
food_protein.to_csv('food_protein.csv')

### Food Component Data

#### Merge food_component.csv and food.csv

In [138]:
food_component_processed = pd.merge(food_component, food, on="fdc_id")
food_component_processed.head()

,id,fdc_id,name,pct_weight,is_refuse,gram_weight,data_points,min_year_acquired,data_type,description,food_category_id,publication_date
0,59105,331897,Bone and cartilage,32.4,Y,33.7,60,2010.0,foundation_food,"Chicken, broilers or fryers, drumstick, meat o...",NaN,2019/4/1 0:00:00
1,59106,331897,Total gram weight,100.0,N,104.0,60,2010.0,foundation_food,"Chicken, broilers or fryers, drumstick, meat o...",NaN,2019/4/1 0:00:00
2,59107,331897,Separable Lean,57.9,N,60.2,60,2010.0,foundation_food,"Chicken, broilers or fryers, drumstick, meat o...",NaN,2019/4/1 0:00:00
3,59108,331897,Handling loss,1.5,N,1.5,60,2010.0,foundation_food,"Chicken, broilers or fryers, drumstick, meat o...",NaN,2019/4/1 0:00:00
4,59109,331897,Edible portion,57.9,N,60.2,60,2010.0,foundation_food,"Chicken, broilers or fryers, drumstick, meat o...",NaN,2019/4/1 0:00:00

#### Export to csv File

In [139]:
food_component_processed.to_csv('food_component_processed.csv')